<h3>Authors</h3>


<form action="<%= authors_path %>">
  <label>Search by Author:
  <input type="text" name="search" value="<%= @search_term %>">

  </label>
  <button type="submit">Search</button>
</form>

<% if @search_term %>
Found <%= pluralize @authors.count, "authors" %> matching <em><%= @search_term %></em> 
<% end %>

<div class="authors">
  <% @authors.each do |author| %>
    <div class="author">
      <%= image_tag author.url_image, width: 64 %>
      <h3><%= author.name %></h3>
      <p><%= link_to pluralize(author.books.count, "book"), author_path(author.id) %></p>
    </div>
  <% end %>
</div>

<div class="admin_tools">
  <h2>Administrator's Tools</h2>
  <ul>
    <li>Add a new author</li>
  </ul>
</div>