<div class="author">
  <%= image_tag @author.url_image, width: 64 %>
  <h2><%= @author.name %></h2>
  <p>There are <%= pluralize @author.books.count, "book" %> written by <strong><%= @author.name %></strong></p>
  <ul>
      <% @author.books.each do |book| %>
          <li><%= book.title %>
            <%= number_to_currency book.price %>
            <%= link_to "Buy now for #{number_to_currency(book.price)}", orders_new_path(book_id: book.id)%>
          </li>
      <% end %>
  </ul>
</div>

<div>
  <%= link_to "Add a book by #{@author.name}", new_author_book_path(@author.id) %>
</div>
