<h1>Create a new book</h1>

<%= form_for [:author, @book] do |f| %>
<p>
  <%= f.label :title %>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :url_image, "Image URL" %>
  <%= f.text_field :url_image %>
</p>

<p>
  <%= f.label :author_id, "Author ID" %>
  <%= f.select :author_id, options_from_collection_for_select(@authors, :id, :name, @bookauthor_id) %>
</p>

<p>
  <%= f.submit "Create book" %>
</p>
<% end %>


